<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/angular-csp.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="status"></div>
<div ng-app="widget" class="ng-cloak" ng-controller="widgetController">
	<input ng-model="racerAddr"/>
	<button id="start" ng-click="startRace()">start</button>
	<button id="stop" ng-click="stopRace()">stop</button>
	<button id="add" ng-click="add()">add</button>
	<div > Number of racers: <span ng-bind="race.numRacers"></span></div>
	<div ng-repeat="racer in race.racers" id="{{ racer.id }}">
		<div><span ng-bind="racer.address+' '+racer.ip"></span></div>
		<div class="wrapper">
			<div class="fill"></div>
			<div class="percent">
				<span ng-bind="racer.currentRequests+'%'"></span>
			</div>
		</div>
		<div ng-bind="racer.totalTime+' ms'"></div>
		<button remove ng-click="remove(racer)">remove</button>
	</div>
</div>
<script src="js/angular.js"></script>
<script src="js/app.js"></script> 
</body>
</html>